@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.nav-lang, .nav-products {
    font-size: 14px;
}
.display-4 {
    font-family: 'Sora', sans-serif;
    color: #ffffff;
    background-color: #343a404d;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 5px;
}
.text-active {
    font-weight: bold;
}
.title-buy {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 35px;
}
.btn-light {
    font-size: 13px;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 1px;
}
.jumbotron {
   background-image: url(./img/back-site.jpg);
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.nav-item {
    margin-right: 20px;
}
.about-btn {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 20px;
}
.subtext {
    color: #343a40;
    font-family: 'Ubuntu', sans-serif;
}

@media only screen and (max-width: 423px) {
    .display-4 {
        font-size: 40px;
    }
    .title-buy {
        font-size: 25px;
    }
}